name: MLflow CI

on:
  push:
    branches: ["main"]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_URI: file:///home/runner/work/workflow-ci/workflow-ci/mlruns
          MLFLOW_ARTIFACT_URI: file:///home/runner/work/workflow-ci/workflow-ci/mlruns
        run: |
          cd MLProject
          mlflow run . --env-manager=local
